.outer{
    /* background-color: ; */
    height: 200px;
    width: 200px;
    border: 16px solid black;
    border-top: 16px solid white;
    border-radius: 50%;
    animation: spin 2s linear infinite;

}
.loader{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}   